<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="/static/img/bulding_parrot.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css"/>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js' defer></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Bagoly vagy Papagáj</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Főoldal <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/jatek">Játék</a>
                <a class="nav-item nav-link" href="/szavak">Szavak</a>
                <a class="nav-item nav-link disabled" href="#">Új szó hozzáadása</a>
            </div>
        </div>
    </nav>


    <title>Játék</title>
</head>
<body>
<div class="content-wrapper">
    <div>
        <h4>Hány szóval szeretnéd próbára tenni magad?</h4>
        <div class="dropdown">
            <button onclick="dropdown()" class="dropbtn">Válassz!</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="/jatek?szavak=10">10</a>
                <a href="/jatek?szavak=20">20</a>
                <a href="/jatek?szavak=30">30</a>
                <a href="/jatek?szavak=40">40</a>
                <a href="/jatek?szavak=50">50</a>
            </div>
        </div>
    </div>
    <div class="card">
        <img class="owl" src="\static\img\wise_owl.png" alt="Avatar">
        <div class="container">
            <p><b>Bagoly</b></p>
        </div>
        <div id="drop-target-left">Ide húzd!</div>
        <div class="empty" id="display-left"></div>
    </div>
    <div class="card">
        <div><p id="score">0</p><span id="separator"><b> / </b></span><p id="all" th:text="${numberOfWords}"></p></div>
        <div class="container" id="drag-elements">
            <div class="word" th:each="word : ${words}"><b th:text="${word}"></b></div>
        </div>
    </div>
    <div class="card">
        <img class="parrot" src="\static\img\greeting_parrot.png" alt="Avatar">
        <div class="container">
            <p><b>Papagáj</b></p>
        </div>
        <div id="drop-target-right">Ide húzd!</div>
        <div class="empty" id="display-right"></div>
    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <script src="static/js/game.js" defer></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</div>
</body>
</html>