{% extends 'layout.html' %}

{% block head %}
    <title>Játék</title>
{% endblock %}


{% block content %}
    <div>
        <form action="/jatek" method="get">
            <h4>Hány szóval szeretnéd próbára tenni magad?</h4>
            <select class="form-control" name="word-number">
                {% for num in range(10, 51) %}
                    <option value="{{ num }}">{{ num }}</option>
                {% endfor %}
            </select>
            <button class="btn" type="submit">Mehet!</button>
        </form>
    </div>
    <div class="card">
        <img class="owl" src="\static\img\wise_owl.png" alt="Avatar">
        <div class="container">
            <p><b>Bagoly</b></p>
        </div>
        <div id="drop-target-left">Ide húzd!</div>
        <div class="empty" id="display-left"></div>
    </div>
    <div class="card">
        <div class="container" id="drag-elements">
            <div id="score">0</div>
            <div id="all">/{{ word_number }}</div>
            {% for word in words %}
                <div class="word"><b>{{ word }}</b></div>
            {% endfor %}
        </div>
    </div>
    <div class="card">
        <img class="parrot" src="\static\img\greeting_parrot.png" alt="Avatar">
        <div class="container">
            <p><b>Papagáj</b></p>
        </div>
        <div id="drop-target-right">Ide húzd!</div>
        <div class="empty" id="display-right"></div>
    </div>

{% endblock %}